name: Go Lint

on:
  pull_request:
    branches: [main]
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  golint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.1
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
          
      - name: Go mod tidy
        run: |
          go mod tidy
          
      - name: Go Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.63