name: Build promotion

on:
  workflow_dispatch:

permissions: {}

jobs:
  promotion:
    runs-on: ubuntu-latest
    name: Promote built artifact
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Jfrog setup
      uses: jfrog/setup-jfrog-cli@5b06f730cc5a6f55d78b30753f8583454b08c0aa # v4.8.1
      env:
        JF_URL: ${{ secrets.JF_URL }}
      with:
        oidc-provider-name: ${{ secrets.OIDC_PROVIDER_NAME }}

    - name: Extract version
      uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
      id: version
      with:
        script: |
          const version = context.ref.match(/[\d][\d*\.]*$/)[0];
          core.setOutput("version", version);

    - name: Promote artifact
      run: |
        VERSION="${{ steps.version.outputs.version }}"
        BUILD_NAME="${{ github.event.repository.name }}"

          BUILD_NUMBER=$(
            jfrog rt curl api/build/${BUILD_NAME} -s | \
            jq -r "
              [
                .buildsNumbers[]
                | select(.uri | contains(\"$VERSION\"))
              ]
              | sort_by(.started)
              | reverse
              | .[0].uri[1:]
            "
          )

          if [ -z "$BUILD_NUMBER" ]; then
            echo "::error::Error retrieving build from Artifactory. No matching name/version. Name: $BUILD_NAME; Version: $VERSION"
            exit 1
          fi

          echo "Promoting generic $BUILD_NAME $BUILD_NUMBER"
          jfrog rt build-promote  "$BUILD_NAME" "$BUILD_NUMBER" eng-generic-prod-local --status released --copy=true